node_modules
dist
data
.env
.env.*
!.env.example

.git
.gitignore
.cursor

Dockerfile
docker-compose.yaml
.dockerignore

docs/
**/*.test.ts
**/*.spec.ts
src/__tests__/

*.log
*.pid
.DS_Store
.tsbuildinfo
